.castList {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    gap: var(--default-gap);
    padding: 0px var(--default-gap);
    margin: var(--default-gap) auto;

    max-width: 1200px;
}

.castListItem {
    position: relative;
    width: var(--default-width);

    cursor: pointer;

    transform: scale(1);

    transition: transform var(--default-animation);
}

.castListItem:hover,
.castListItem:focus {
    transform: scale(1.05);
}

.imageCast {
    width: var(--default-width);
    border-radius: var(--brd-radius);

    filter: brightness(100%);

    transition: filter var(--default-animation);
}

.castListItem:hover .imageCast,
.castListItem:focus .imageCast {
    filter: brightness(70%);
}

.castItemName {
    position: absolute;
    bottom: 20px;
    right: 10px;
    left: 10px;

    font-size: 18px;
    color: transparent;

    transition: color var(--default-animation);
}

.castListItem:hover .castItemName,
.castListItem:focus .castItemName {
    color: var(--main-light-clr);
}