header {
    padding: var(--default-gap) 30px;
    background-color: var(--main-dark-clr);
}

.headerList {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 300px;
}

.headerLink {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;

    color: var(--main-light-clr);
}