:root {
  --main-light-clr: #ffffff;
  --main-dark-clr: #1d1d3d;
  --dark-clr: #a1abbb;
  --accent-clr: #f5b221;

  --add-clr-1: #2d3953b9;
  --add-clr-2: #0a0d3bb9;
  --add-clr-3: #07424d80;
  --add-clr-4: #e6f3ffc5;
  --add-clr-5: rgba(19, 19, 70, 0.5);

  --brd-radius: 4px;
  --default-gap: 15px;
  --default-width: 200px;

  --default-animation: 350ms ease-in-out;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  background-image: linear-gradient(var(--add-clr-1), var(--add-clr-1));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul,
ol {
  list-style-type: none;
}