.movieDetails {
    display: flex;
    justify-content: space-around;
    align-items: center;

    flex-wrap: wrap;

    margin: 20px 10px;
}

.buttonGoBack {
    padding: 5px 10px;

    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    border-radius: var(--brd-radius);

    color: var(--accent-clr);
    background-color: var(--main-dark-clr);

    transition: color, background-color var(--default-animation);
}

.buttonGoBack:hover,
.buttonGoBack:focus {
    color: var(--main-dark-clr);
    background-color: transparent;
}

.imageMovieDetails {
    display: block;
    width: 400px;
    height: auto;

    margin-top: var(--default-gap);

    border-radius: var(--brd-radius);
}

@media screen and (max-width: 500px) {
    .imageMovieDetails {
        width: 300px;
    }
}

.movieTextInfo {
    padding: var(--default-gap);
    max-width: 600px;

    color: var(--main-light-clr);
    background-color: var(--add-clr-3);
}

@media screen and (max-width: 1100px) {
    .movieTextInfo {
        margin-top: var(--default-gap);
        margin-left: var(--default-gap);
    }
}

.labelMovieDetails {
    color: var(--main-dark-clr);
}

.accentText {
    font-size: 17px;
    font-weight: 600;
    color: var(--accent-clr);
}

.labelMovie {
    color: var(--add-clr-2);
}