@import '../../index.css';

.movieDetails {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    margin: 20px 10px;
}

.movieTextInfo {
    padding: var(--default-gap);
    max-width: 600px;

    color: var(--main-light-clr);
    background-color: var(--add-clr-3);
}

@media screen and (max-width: 1100px) {
    .movieTextInfo {
        margin-top: var(--default-gap);
        margin-left: var(--default-gap);
    }
}